<div id="page-recipients">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="content-header">
                List of recipients (<span data-ng-bind="recipients.length || 0"></span>)
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>E-mail address</th>
                        <th>Unsubscribe token</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="loading || recipients.length < 1">
                        <td colspan="6" data-ng-show="loading">Loading...</td>
                        <td colspan="6" data-ng-show="!loading">There are no recipients yet.</td>
                    </tr>
                    <tr
                        data-ng-show="!loading && recipients.length > 0"
                        data-ng-repeat="recipient in recipients"
                    >
                        <td><span data-ng-bind="recipient.id"></span>.</td>
                        <td data-ng-bind="recipient.first_name"></td>
                        <td data-ng-bind="recipient.last_name"></td>
                        <td><code data-ng-bind="recipient.mail"></code></td>
                        <td><code data-ng-bind="recipient.token"></code></td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-default disabled">Edit</a>
                                <a class="btn btn-default disabled">Unsubscribe</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
