* {
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-y: scroll;
}

input, textarea {
    font-family: monospace;
}

.container {
    margin-bottom: 50px;
}

#amazon-login-btn {
    display: block;
    width: 312px;
    margin: 50px auto;
}

#amazon-login-btn img {
    display: block;
}

#header {
    position: relative;
}

.header-nav {
    position: absolute;
    right: 10px;
    top: 15px;
}

.content-header {
    margin-top: 10px;
    margin-bottom: 25px;
}

.image-wrapper {
    width: 100%;
    height: 120px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, .7);
}

.image-wrapper img {
    display: block;
    max-width: 100%;
}

.upload-help {
    margin-bottom: 0;
}

.top-image-label {
    display: block;
}

#loader-overlay {
    position: fixed;
    z-index: 9999;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, .5);
}

#loader-overlay .loader-progress {
    text-align: center;
    font-size: 100px;
    color: #fff;
}

/* by @tobiasahlin - http://tobiasahlin.com/spinkit/ */
#loader-overlay .spinner {
    width: 120px;
    height: 120px;
    margin: 100px auto 50px;
    background-color: #fff;
    border-radius: 100%;
    animation: scaleout 1.0s infinite ease-in-out;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0);
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
