window.AWSLETTER_CONFIG = {
    amazonLogin: {
        clientId: 'amzn1.application-oa2-client.{{client_id}}'
    },
    aws: {
        region: '{{region}}',
        roleArn: 'arn:aws:iam::{{aws_account_id}}:role/{{web_role_name}}',
        imagesBucketName: '{{images_bucket_name}}',
        mailFunctionName: '{{mail_fn_name}}',
        smsFunctionName: '{{sms_fn_name}}'
    },
    notificationPhoneNumber: '+{{phone_no}}',
    disableMailDelivery: false,
    disableSmsDelivery: false,
    sender: "{{ses_verified_mail}}"
};
